  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.date_select :start_date %>
  </p>

  <p>
    <b>End date</b><br />
    <%= f.date_select :end_date %>
  </p>
