<%= error_messages_for 'newsletter' %>

<!--[form:newsletter]-->
<p><label for="newsletter_title">Title</label><br/>
<%= f.text_field 'title'  %></p>
<p><label for="newsletter_date">Date</label><br/>
<%= f.date_select 'date'  %></p>



<!--[eoform:newsletter]-->


