<h1>New newsletter</h1>

<% form_for(@newsletter, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>
	<p><label for="newsletter_file">File</label><br/>
	<%= f.file_field 'file'  %></p>
  <%= submit_tag "Add" %>
<% end %>

<%= link_to 'List', newsletters_path %>
