
<h3>Three Year Old Program</h3>
<h4>&nbsp;</h4>
<h4>Program Details </h4>
<p>The focus during "free play" time in the three year old program is on social interactive skills. We use situations that arise to side-coach problem solving and to help children to become more aware of their impact on others. Three year olds are very social creatures. They love to play in the vicinity of other children and are beginning to make the transition from parallel to associative play. The structured group times for three year olds is short and active early in the school year, and it increases in length as their ability to sit and attend increases. </p>
<h4>&nbsp;</h4>
<h4>Some Important Things to Consider:</h4>
<p style=""><span style="">Children entering this program should be three by December</span>.</p>
<p>They should be progressing with toilet training, taking into account that accidents do happen! If your child is borderline, come the end of the summer, send him/her in pull-ups. Often peer modeling is a great incentive for independence! Feel free to call the school if you are concerned.</p>
<p>We have a two day open house for the children after the Labor Day weekend. You will receive a letter from us with pertinent information in the middle of August. We encourage you to come in with your child as often as you wish. This helps him/her look forward to something specific that they may want to do when classes begin. </p>
<p>We stagger the entrance of the three year olds for the first two weeks of school, half coming on Tuesday, and half on Thursday, so they can get to know their teachers, and there is room for parents to stay if separation is a problem. </p>
<p>When choosing a time for your child, keep in mind their biological clock: are they "up and at 'em" first thing in the morning or do they like to enter the day gently, taking their time to eat, get dressed, etc.; do they still nap in the afternoon or are they tired of their home routine and ready to venture forth? The 11:00 am class seems like a strange time to go to school, but is often the best choice for a child who doesn't like to be rushed in the morning but who still naps in the afternoon. It also works well for moms who have a baby, as well as a three year old. </p>
