
<h3>Four Year Old Program (Junior Kindergarten) </h3>
<h4>&nbsp;</h4>
<h4>Program Details: </h4>
<p>Children entering the four year old program should be kindergarten eligible the following September. </p>
<p>Most four year olds, particularly those who have attended a three year old program, have mastered many social skills and are becoming young lawyers when negotiating. Their attention span has increased and they are more adept at group listening skills and turn taking. They are also sponges who soak up information and develop new skills at an amazing rate. </p>
<p>Music time increases in length and combines music and movement with teaching time in language arts, math, and more complex direction following games. As in all our classes, children progress at their own rate. </p>
<p>The teacher's job is to facilitate their learning by extending their experiences and offering help when needed. </p>
<h4>Important Things To Consider:</h4>
<p>As in our three year old program, your choice of class should compliment your child's biological clock. Consider also that your preschooler needs a nuturing, safe environment to develop socially, emotionally, cognitively and physically. At CLC he will engage in activities to enhance all those areas.</p>
<p>Success is the best motivator. The children in the Junior Kindergarten year will be motivated to activity by the provision of materials that interest them and induce problem solving and fine and gross motor development. </p>
