
<h2>About Our Programs</h2>
<h3>Available Programs</h3>
<p>Creative Learning Center offers a variety of preschool options for you and
  your child. Each program is staffed by degreed <a href="/teachers">teachers</a> and a trained teaching
  assistant. Class sizes range from 12 to a maximum of 25. Our school operates
  on a <a href="/school/philosophy">&quot;Child Centered&quot; </a>philosphy and utilizes <a href="/school/learning_centers">interest centers</a>.</p>
<p>Please have a look at our individual program details below: </p>
<ul>
  <li><a href="/programs/age_3">Three Year Old Program </a></li>
  <li><a href="/programs/age_4">Four Year Old Program </a></li>
  <li><a href="/schedules/">Class Schedule &amp; Costs </a></li>
  <li><a href="/registration">Registration Information </a></li>
</ul>
<table width="50%" id="stripedTable">
  <tr>
    <th colspan="2">Tues/Thursday </th>
    </tr>
  <tr>
    <td>3 yr. olds </td>
    <td>8:45 - 10:45 am </td>
    </tr>
  <tr>
    <td>3 yr. olds </td>
    <td>11:00 - 1:00 pm </td>
    </tr>
  <tr>
    <td>3 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    </tr>
  <tr>
    <td> 4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">Mon/Wed/Fri </th>
    </tr>
  <tr>
    <td> 4 yr. olds </td>
    <td>8:45 - 10:45 am </td>
    </tr>
  <tr>
    <td> 4 yr. olds </td>
    <td>11:00 - 1:00 pm </td>
    </tr>
  <tr>
    <td>4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">Everyday</th>
    </tr>
  <tr>
    <td> 4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    </tr>
</table>
<p>&nbsp;</p>
<h3>Choosing The Best Program For Your Child </h3>
<p>In order to provide the best possible experience for both you and your child we ask that you have a look at our <a href="/resources/questions">common questions</a> section before <a href="/registration/index">registering your child</a>. </p>
<p>&nbsp;</p>
