
<h3>Class Schedules</h3>
<table width="500" >
  <tr>
    <th colspan="3">Tues/Thursday </th>
  </tr>
  <tr>
    <td>1. 3 yr. olds </td>
    <td>8:45 - 10:45 am </td>
    <td>$115.00 per month </td>
  </tr>
  <tr>
    <td>2. 3 yr. olds </td>
    <td>11:00 - 1:00 pm </td>
    <td>$115.00 per month </td>
  </tr>
  <tr>
    <td>3. 3 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    <td>$115.00 per month </td>
  </tr>
  <tr>
    <td>4. 4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    <td>$115.00 per month </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th colspan="3">Mon/Wed/Fri -Junior Kindergarten*</th>
  </tr>
  <tr>
    <td>5. 4 yr. olds </td>
    <td>8:45 - 10:45 am </td>
    <td>$140.00 per month </td>
  </tr>
  <tr>
    <td>6. 4 yr. olds </td>
    <td>11:00 - 1:00 pm </td>
    <td>$140.00 per month </td>
  </tr>
  <tr>
    <td>7. 4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    <td>$140.00 per month </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th colspan="3">Everyday - Junior Kindergarten*</th>
  </tr>
  <tr>
    <td>8. 4 yr. olds </td>
    <td>1:30 - 3:30 pm </td>
    <td>$255.00 per month </td>
  </tr>
</table>
<p>* We define <strong>Junior Kindergarten</strong> as &quot;<em>the school year before entering kindergarten</em>&quot;. We plan our programs to provide learning experiences that are appropriate for this age, taking into consideration individual learning styles and readiness for cognitive and fine motor activities.</p>
