<!--     New Students Sidebar      -->
<div id="newStudents">
  <h3><img src="/images/layout/tab_students.gif" alt="New Student Information" width="150" height="110" /></h3>
	<div>
		<p>Thanks for considering us! </p>
		<p>Please have a look at the following info for new and prospective students.</p>
		<ul>
			<li><a href="/resources/questions">Common Questions </a></li>
			<li><a href="/policies/">Policies</a></li>
			<li><a href="/registration/">Registration</a></li>
			<li><a href="/school/contact">Location</a></li>
		</ul>
	</div>
</div>

<!--     Testimonials Sidebar      -->
<div id="testimonials">
<h3><img src="/images/layout/testimonials.gif" alt="Parent Testimonials" width="150" height="84" border="0" /></h3>
	<div>
		<p>What some of our <%= link_to "parents have said", testimonials_url %> about Creative Learning Center.</p>
		<p><%= link_to "View Testimonials", testimonials_url %></p>
		<p>&nbsp;</p>
	</div>
</div>

<!--     Comment Box Sidebar      -->
<div id="commentBox">
	<h3><img src="/images/layout/commentBox.gif" alt="School Comment Box" width="150" height="121" border="0" /></h3>
	<div>
		<p>Help us make your child's learning experience the best it can be</p>
		<p><a href="/comments">Make a comment </a></p>
	</div>
</div>