<p><img src="/images/layout/welcome.gif" alt="Welcome to Creative Learning Center" width="450" height="100" /></p>
<p><em>&quot;Maximizing Children's Learning Potential For Over 30 Years&quot; </em></p>
<p>We offer an excellent <a href="/school/philosophy">child-centered</a>  program for three and four-year-olds with  qualified <a href="/teachers">teachers</a> and an assistant
    in each classroom. The <a href="/teachers">staff</a> at CLC provide <a href="/school/projects">activities</a> where children can explore,
    experiment, discover, create and play in a warm, supportive <a href="/school/layout">atmosphere</a>. </p>
<p>If you are interested in <a href="/registration/">registering your
    child</a> at Creative Learning Preschool
  please have a look at the links on the left. If you would like to get in touch
    with the <a href="/teachers">staff</a> please visit our <a href="/contact">contact page</a>.</p>
<p>Some other options include: </p>
<ul>
  <li>Have a look at some <a href="/school/photos">pictures of the school</a></li>
  <li>See where we are <a href="/school/location">located </a></li>
  <li>Check out some <a href="/resources/">great resources</a></li>
  <li>Read our <a href="/newsletters">school newsletter</a></li>
  </ul>
<p>&nbsp;</p>