
<h2>Student Registration </h2>
<p>Thank you for your interest in Creative Learning Center. </p>
<p>Before you decide to enroll your child please have a look at these <a href="/school">recommendations</a>.</p>
<p>After confirming that your child meets these requirements and is ready for
  school, please print out <a href="<%= current_registration_form %>">this registration document</a> and bring it in to the school.</p>
<p><a href="<%= current_registration_form %>">Download Registration Document</a></p>
