
<h2>Contact Information </h2>
<p>Email: <a href="mailto:creativelearning@shaw.ca">creativelearning@shaw.ca</a><br />
Phone: 403-225-0600<br />
Fax: 403-225-0102</p>
<p>Patti Brix - Director <br />
  <a href="mailto:patti@creativelearningcenter.ca">patti@creativelearningcenter.ca</a></p>
<p>
We are located at: <br />
2120, 380 Canyon Meadows Drive SE <br />
Calgary, Alberta <br />
Canada T2J 7C3 </p>
<p><img src="/images/layout/location.gif" width="381" height="328" border="1" /> </p>