
<h3>School History </h3>
<p>Creative Learning Center is a privately owned preschool in operation in <a href="location">Lake Bonavista</a> since 1980. The school was founded in 1974 at another location in SW Calgary. Bonnie Wyse was the director until retirement from the school in 2000, when <a href="staff">Patti Brix</a> took over as owner and director. </p>
<p>We have a wealth of experience to draw from and we utilize that wisdom daily to provide your child with the best possible care and education. Please have a look at what our past <a href="/resources/testmonials">parents have said</a> about the school. </p>
