
<h2>About The School </h2>
<h3>Please choose a section from below: </h3>
<ul>
  <li><a href="/school/history">History</a></li>
  <li><a href="/school/mission">Mission</a></li>
  <li><a href="/school/layout">Layout</a></li>
  <li><a href="/school/learning_centers">Interest Centers</a></li>
  <li><a href="/school/liscensing">Liscensing</a></li>
  <li><a href="/school/location">Location</a></li>
  <li><a href="/school/philosophy">Philosophy</a></li>
  <li><a href="/school/photos">Pictures</a></li>
  <li><a href="/school/projects">Projects</a></li>
  <li><a href="/teachers">Staff</a></li>
</ul>
<p>If you cannot find something you are looking for please have a look at the <a href="/sitemap">site map</a>, or drop us a line in the school's <a href="/comments">comment box</a>. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
