
<h2>School Layout
</h2>
<p>There are two classrooms at the CLC. One large class and one smaller. Your child will attend classes in one classroom for the entire school year. Placement will be made taking into consideration your child's specific needs and learning style. The themes for each classroom will be changed regularily so that all the children may benefit from all the toys, games and equipment in the school. </p>
<p>The rooms are named the Butterfly Room and the Ladybug Room. Please look for the appropriate symbol on the classroom door. When you visit the school, at open house in September, please check the class lists to see which classroom your child will start in. </p>
<h3>&nbsp;</h3>
<h3>Classroom Setup </h3>
<p>Our classrooms are carefully structured into <a href="learning_centers">interests centers</a>. The materials that are available in those centers change on a regular basis, depending on our theme and children's interests. </p>
<p>There is a balance between "free time" when children make choices and "circle time", when all children take part. Each portion of the day has value and purpose. </p>
<p>Our goals are to help empower your children to: </p>
<ul>
  <li>make appropriate decisions for him/herself, </li>
  <li>learn problem solving techniques, </li>
  <li>feel ownership and success as learners, </li>
  <li>be stimulated by activities and materials available for their manipulation, </li>
  <li>to learn appropriate group skills which will make their transition to grade school as successful as possible. </li>
</ul>
<p>A tall order! We believe, and have witnessed, that all these goals are achievable. </p>
