<h2>Learning Centers - Details </h2>
<h3>Learning Centers enable children:</h3>
<ul>
  <li>To grow and develop at different rates ñ a rate that is governed by his ability, interest and his motivation. </li>
  <li>To actively explore and discover their environment using concrete and sensory materials. </li>
  <li>To develop self-confidence and social skills. </li>
  <li>To develop curiousity and self-reliance. </li>
  <li>To work under the direction of an understanding teacher trained to match the activity and structure of the program to the nature of the child. </li>
  </ul>
<h3><a name="Types" id="Types"></a>Types Of Learning Centers at the school </h3>
<ul>
  <li><a href="#Sand">Sand Play </a></li>
  <li><a href="#puzzles">Puzzles</a></li>
  <li><a href="#art">Art Activities</a></li>
  <li><a href="#roleplay">Role Playing</a></li>
  <li><a href="#puppetry">Puppetry </a></li>
  <li><a href="#blocks">Block Play</a></li>
  <li><a href="#water">Water Play</a></li>
  <li><a href="#reading">Reading Loft </a></li>
  <li><a href="#construction">Construction Toys</a></li>
  <li><a href="#music">Music </a>   </li>
</ul>
<h3><strong><a name="Sand" id="Sand"></a>Sand Play </strong></h3>
<p>The Child: </p>
<ul>
  <li>Develops co-ordination </li>
  <li>Begins to measure and estimate </li>
  <li>Broadens his sensual experiences </li>
  <li>Learns to share and be a part of a small group </li>
  <li>Discovers the physical properties of wet and dry sand </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Puzzles" id="Puzzles"></a>Puzzles </strong></h3>
<p>The child: </p>
<ul>
  <li>Increases his hand eye co-ordination </li>
  <li>Develops visual perception </li>
  <li>Develops self-confidence </li>
  <li>Develops a more meaningful vocabulary </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Art" id="Art"></a>Art Activities </strong></h3>
<p>The child: </p>
<ul>
  <li>Develops fine motor control </li>
  <li>Works at his own level </li>
  <li>Grows in creative expression </li>
  <li>Develops oral language </li>
  <li>Gradually acquires an awareness of detail </li>
  <li>Has an opportunity to explore and experiment </li>
  <li>Is given an opportunity to plan and organize </li>
  <li>Is able to relate oral language to the printed form </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Roleplay" id="Roleplay"></a>Role Playing </strong></h3>
<p>The Child: </p>
<ul>
  <li>Gains confidence </li>
  <li>Tries out familiar roles </li>
  <li>Makes new friends </li>
  <li>Develops oral language </li>
  <li>Has an opportunity to dramatize </li>
  <li>Learns to share and be a part of a group </li>
  <li>Grows in awareness of himself and others and of community and social rules </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Puppetry" id="Puppetry"></a>Puppetry </strong></h3>
<p>The Child: </p>
<ul>
  <li>Expresses himself through role-playing </li>
  <li>Develops a meaningful vocabulary as he experiments with new words </li>
  <li>Learns to work with others </li>
  <li>Gains confidence </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Blocks" id="Blocks"></a>Block Play </strong></h3>
<p>The Child: </p>
<ul>
  <li>Develops oral language </li>
  <li>Releases energy </li>
  <li>Is encouraged to plan and organize </li>
  <li>Develops large muscle co-ordination </li>
  <li>Dramatizes familiar situations and tries out new roles </li>
  <li>Experiments with space, shape and relative size </li>
  <li>Learns to work with others and share materials </li>
  <li>Develops a basis for abstract understandings </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Water" id="Water"></a>Water Play </strong></h3>
<p>The Child: </p>
<ul>
  <li>Develops his sense of touch </li>
  <li>Grows in co-ordination </li>
  <li>Explores properties of water </li>
  <li>Begins to measure and estimate </li>
  <li>Develops in problem solving ability </li>
  <li>Experiences the joy of communicating with others </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Reading" id="Reading"></a>The </strong><strong>Reading </strong><strong> Loft </strong></h3>
<p>The Child: </p>
<ul>
  <li>Enlarges his vocabulary </li>
  <li>Develops listening skills </li>
  <li>Learns how to care for books </li>
  <li>Acquires an interest in stories </li>
  <li>Begins to select stories on a basis of interest </li>
  <li>Broadens his background of experiences </li>
  <li>Develops visual perception (i.e., left to right, top to bottom, etc.) </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Construction" id="Construction"></a>Construction Toys </strong></h3>
<p>The Child: </p>
<ul>
  <li>Clarifies language concepts </li>
  <li>Learns new vocabulary </li>
  <li>Learns to work with others </li>
  <li>Is stimulated to solve problems </li>
  <li>Gradually increases interest span </li>
  <li>Develops small muscle co-ordination </li>
  <li>Experiments with space, shape and relative size </li>
  <li>Is stimulated to create and works at his own level </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>
<h3><strong><a name="Music" id="Music"></a>Music </strong></h3>
<p>The child: </p>
<ul>
  <li>Develops listening skills </li>
  <li>Is stimulated to create in areas of rhythm, melody and movement </li>
  <li>Is encouraged to use sensitive, imaginative and comparative language </li>
  </ul>
<p><a href="#Types">Back To Top </a></p>