
<h3>License Information</h3>
<p>Creative Learning Center is licensed by Alberta Children Services and is inspected annually for renewal. We maintain a high standard of child care and all licenses are posted in the school.</p>
<p>Staff meembers have current <a href="http://www.redcross.ca">Red Cross</a> Certification in <a href="http://www.redcross.ca/article?id=000630">Child Care First Aid</a>.</p>
<h3>Memberships &amp; Afililations</h3>
<ol>
  <li><a href="http://www.cayc.ca">CAYC</a> - Canadian Association for Young Children</li>
  <li><a href="http://www.naeyc.org">NAYEC</a> - National Association for the Education of Young Children </li>
  <li><a href="http://www.preschoolteachers.ca">CPTA</a> - Calgary Preschool Teachers Association</li>
  <li><a href="http://www.ucalgary.ca">University of Calgary</a> Psychology Dept. - We participate regularly in scientific studies in the area of language and cognitive development. </li>
</ol>
