
<h2>Our Location
</h2>
<p>We are conveniently located on Canyon Meadows Drive and MacLeod Trail in South Calgary. The school is in Fish Creek Plaza near Blockbuster Video.</p>
<p>Our address is as follows: </p>
<p>2120, 380 Canyon Meadows Drive SE <br />
Calgary, Alberta <br />
Canada T2J 7C3 </p>
<p>Have a look at the map below if you aren't sure... </p>
<p><img src="../images/layout/location.gif" alt="School Location" width="381" height="328" border="1" /> </p>
