
<h2>School Mission </h2>
<p>The staff at Creative Learning Center believe that by providing a stimulating learning environment, making the learning experience fun, and supporting the child's self-direction, the child will: </p>

<ul>
  <li>develop a positive self-concept, a sense of belonging and self-control, and an eagerness to learn. </li>
  <li>develop curiosity about the world, confidence as a learner, creativity and imagination, and personal initiative </li>
  <li>expand relationships of mutual trust and respect with adults and peers, understand the perspectives of other people while applying the rules of group living </li>
  <li>enhance the use of language to communicate effectively and to facilitate thinking and learning </li>
  <li>become an individual who gains satisfaction, as well as information, from reading and writing </li>
  <li>represent ideas and feelings through play, drama, dance and movement, music, art and construction </li>
  <li>think critically, reason, and solve problems </li>
  <li>construct an understanding of relationships among objects, people, and events - such as classifying, ordering, numbers, space and time </li>
  <li>build competence in management of their body and acquire basic physical skills, both gross motor and fine motor </li>
  <li>construct knowledge of the physical world, manipulate objects for desired effects, and understand cause and effect relationships </li>
</ul>
<p>We believe that children learn through play. Through their play, children develop sensory motor control, eye hand co-ordination and problem solving skills. Physical, social, intellectual and emotional development are all enhanced through play. </p>
