
<h2>Creative Learning Philosophy </h2>
<h3>Our Teaching Theory </h3>
<p>We would like to take this opportunity to tell you about our program and why
    we do some of the things that we do.
</p>
<p>
	There are basically two styles of preschool programs - teacher centered programs
  and <a href="/school/learning_centers">child centered</a> programs. In a teacher centered program, the teacher decides
  what the children will do, how long they will spend doing it and what they
  will do next. In a child centered program, such as ours, the children are encouraged
  to take responsibility for making choices about what they will do and for what
  period of time.
</p>
<p>Parents who are making their first foray into early childhood education are
  often concerned that, because our program is child centered, and involves a
  great deal of play, that their kids aren't learning anything. In fact, the
  opposite is true. They learn a great many traditional school skills - <a href="/school/learning_centers">readin'</a>,
  writin' and 'rithmatic, and more importantly, they learn that they are capable
  learners, able to make good decisions for themselves and anticipate their own
  success in an academic <a href="/school/layout">environment</a>. </p>
<p>The <a href="http://www.naeyc.org/">National Association for the Education of Young Children</a> has compiled
  a document which presents guidelines for developmentally appropriate practice
  based on scientific evidence which corroborates what parents and teachers have
  always known - early childhood learning activities must be appropriate to the
  child's age, stage and personal interests. </p>

<ul>
  <li>A developmentally appropriate curriculum provides for all areas of a child's
    development; physical, emotional, social and cognitive through an integrative
    approach. </li>
  <li>Appropriate curriculum planning is based on teachers' observations and
    recordings of each child's special interests and developmental progress. </li>
  <li>Curriculum planning emphasizes learning as an interactive process. Teachers
    prepare the environment for children to learn through active exploration
    and interaction with adults, other children and material. </li>
  <li>Learning activities and materials should be concrete, real and relevant
    to the lives of young children. </li>
</ul>
<p><a href="/programs/">Programs</a> provide for a wider range of developmental interests and abilities
  than the chronological age of the group would suggest. Adults are prepared
  to meet the needs of children who exhibit unusual interests and skills outside
  the normal developmental range. <a href="/teachers">Teachers</a> provide a variety of activities and
  materials; teachers increase the difficulty, complexity and challenge of an
  activity as children are involved with it and as children develop understanding
  and skills.
</p>
<p><strong>It also takes into account that play is a basic ingredient in any
    preschool program, and is the way children learn most effectively. </strong> According
    to Joann Moyer, et al, in their position paper, <em><a href="http://www.udel.edu/bateman/acei/cckind.htm">The Child Centered Kindergarten</a>, </em> "When
    viewed as a learning process, play becomes a vehicle for intellectual growth
    and continues to be the most vital avenue of learning for young children.
    Play involves not only materials and equipment, but also words and ideas
    that promote literacy and develop thinking skills. <strong>In addition to
    the three R's, play promotes problem solving critical thinking, concept formation
    and creativity. </strong> Social and emotional development are enhanced through
    play as well. Play fosters holistic learning.	
</p>
<p>
	As <a href="http://www.piaget.org/">Piaget</a> stated so succinctly, "Every time one teaches a child, one prevents
  him from inventing or discovering." Sound early education encourages children's
  self-directed learning by providing an environment that is rich in material
  to explore, manipulate and talk about.
</p>
<p>
	We hope you will take the time to <a href="/policies/volunteers">observe a class</a> with your child. Pay attention
  to how comfortable you feel in the school's environment ... your child's comfort
  level will be similar to your own. Please feel free to ask any <a href="/comments">questions</a> you
  may have. </p>
<p>
<h4>Patti Brix </h4 />
  Director 
</p>
<br />
<a href="mailto:patti@creativelearningcenter.ca">patti@creativelearningcenter.ca</a>