
<h3>School Pictures </h3>
<p>Here are some pictures of our classrooms so that you can get an idea of what our school looks like. </p>
<p><img src="../images/photos/school/2004/door1.jpg" alt="door1 " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/jungle_corner.jpg" alt=" jungle_corner" width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/jungle_corner_teacher.jpg" alt="jungle_corner_teacher " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/music_circle.jpg" alt="music_circle " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/music_circle2.jpg" alt="music_circle2 " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/craft_area.jpg" alt="craft_area " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/craft_area2.jpg" alt="craft_area2 " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/painting.jpg" alt="painting " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/painting2.jpg" alt="painting2" width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/coloring.jpg" alt=" coloring" width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/playdoh.jpg" alt="playdoh " width="400" height="300" /></p>
<p><img src="../images/photos/school/2004/game.jpg" alt="game " width="400" height="300" /></p>

