
<h2>Recent School Projects</h2>


<h3>Spring Project</h3>
<img src="../images/photos/spring.jpg" alt="Spring Project">
<p>We are doing some fun stuff</p>
<p>Spring</p>

<h3>Summer Project</h3>
<img src="../images/photos/summer.jpg" alt="Summer Project">
<p>Fun, Fun, Fun!</p>
<p>Summer</p>

