<%= error_messages_for 'calendar' %>

<!--[form:calendar]-->
<p><label for="calendar_title">Title</label><br/>
<%= f.text_field 'title'  %></p>
<p><label for="calendar_date">Date</label><br/>
<%= f.date_select 'date'  %></p>


<!--[eoform:calendar]-->


