<h1>New calendar</h1>

<% form_for(@calendar, :html => {:multipart => true}) do |f| %>
	<%= render :partial => 'form' , :locals=>{:f => f}%>
	<p><label for="calendar_file">File</label><br/>
	<%= f.file_field :file %><br><br>
  <%= submit_tag "Add" %>
<% end %>

<%= link_to 'List', calendars_path %>
