
<h2>Parent Handbook</h2>
<p>We are currently developing a new handbook for the new year and it will be available both here and at the school when it is finished.</p>
<p><a href="/handbook.doc">Download Handbook </a></p>
