
<h3> Resources for Parents </h3>
<p>Below are some useful resources for parents.</p>
<ul>
  <li><a href="/questions/">Common Questions</a></li>
  <li><a href="/comments/">School Comment Box </a></li>
  <li><a href="/seminars/">Parent Seminars</a></li>
  <li><a href="/testimonials/">Parent Testimonials</a></li>
  <li><a href="/resources/handbook">Parent Handbook</a></li>
  <li><a href="/newsletters/">School Newsletter</a></li>  
  <li><a href="/calendars/">School Calendar</a></li>
</ul>
<h3>Fun Children's Resources </h3>
<p>This page contains links to various resources and activities we thought you
  might enjoy.</p>
<ul><li><a href="/resources/recipes">Some recipes we use at the school </a></li>
  <li></li>
</ul>
