

<h5>November ,2007</h5>
<h3>Interviews</h3>
<p>Please sign up for your parent/teacher interview beginning November 13.  The interviews will be held Thursday November 29 and Friday November 30 from 8am to 3pm.  There will be no classes those days</p>

<h5>January 26 2008</h5>
<h3>Open House</h3>
<p>We will be hosting an Open House on Saturday January 26 from 10am to 2pm.  Call  or email the school for details.the school for details</p>

<h5>January 2008</h5>
<h3>Registration 07-08</h3>
<p>We will begin registration for the 2007-2008 school year on January 7 2008 at the school from 9am to 3pm in the office(enter through the north door)  Registration forms will be available beginning Dec 1 2007.Call the school to book one of our monthly tours.</p>

<h5>December 2007</h5>
<h3>Registration 07-08</h3>
<p>We will be offering pre-registration to presently enrolled families beginning the second week in December 2007.  Registration forms will be sent home with the children in mid December.</p>

