
<h2>Common Questions for Parents</h2>


<h3>How old should my child be to enter preschool?</h3>
<p>For the 2 day 3 year old program your child should be 3 by December and progressing with toilet training.</p>

<h3>What are the class sizes?</h3>
<p>At CLC we have a large classroom that accomodates up to 25 children and a smaller classroom that accomodates 12 to 15 children. The large classroom is staffed by 2 qualified teachers and a teaching assistant. The student teacher ratio is 8:1.</p>

<h3>What are the qualifications of the staff of CLC?</h3>
<p>We take great pride in our experienced, caring and professional staff. All of the teachers are professionally trained (B.Ed, B.Pysch, etc.) and the teaching assistants are trained and have many years of experience with preschool children. The staff functions in teaching teams that remain consistent throughout the year.</p>

<h3>How <i>structured</i> is your program? Do you have a <i>curriculum</i>? Do the children <i>play</i> at school?</h3>
<p>These questions can be answered in the same way. We are a developmentally appropriate, child-centered program. In planning the year, month, week, day the teachers take into account the needs of individual students and what is appropriate to present them in a well thought out and highly interesting and motivating environment.</p>

<h3>How do I know what my child is learning?</h3>
<p>Calenders are sent home every month to let parents know what has been planned for the month. We also send home a school newsletter every two months. Parents are encouraged to talk to the reachers about their child if they have any questions or concerns.</p>

<h3>Do you require parent volunteers?</h3>
<p>No. But we maintain a open door policy with sign up calenders in each room.</p>

<h3>What is your snack policy?</h3>
<p>We ask that parents use the sign up calender to provide a healthy snack for the entire class. Depending on class size, this means signing up to bring snack once every two months. We are a peanut free facility.</p>

<h3>Why should we choose CLC over other preschools in the area?</h3>
<p>CLC has been providing Calgary families an exceptionally high quality preschool program for 30 years. Our program is built around an open learning environment that utilizes the principle of play to encourage and guide early childhood development. The staff ensure that your child is having fun and learning about their world at the same time. We definitely love our jobs and our interaction with your children!</p>

