
<h2>School Recipes </h2>
<p>We would like to share with you some of the recipes that we like to use at
    school. </p>
<ul>
    <li><a href="#fastbread">Fast Bread </a></li>
    <li><a href="#playdough">Play Dough </a></li>
    <li><a href="#slimegoop">Slime Goop </a></li>
    <li><a href="#monster">Monster Cake </a></li>
    <li><a href="#gingerbread">Gingerbread </a></li>    
</ul>

<h3><a name="fastbread" id="fastbread">Fast Bread </a></h3>
<table>
  <tr>
    <td width="100">6 C </td>
    <td>Hot Water </td>
  </tr>
  <tr>
    <td>8 T </td>
    <td>Brown Sugar </td>
  </tr>
  <tr>
    <td>4 - 6 T </td>
    <td>Yeast </td>
  </tr>
</table>
<ul>
  <li>Dissolve sugar in hot tap water and add yeast. Let it stand for about 5
    minutes to proof the yeast. </li>
</ul>
<p>Add: </p>
<table>
  <tr>
    <td width="100">3 C </td>
    <td>Flour (this can be whole wheat or a mixture of white and whole wheat) </td>
  </tr>
  <tr>
    <td>2 T </td>
    <td>Salt </td>
  </tr>
  <tr>
    <td>1/8 Tsp. </td>
    <td>Ascorbic Acid </td>
  </tr>
  <tr>
    <td>3 T </td>
    <td>Gluten </td>
  </tr>
  <tr>
    <td>6 T </td>
    <td>Oil </td>
  </tr>
  <tr>
    <td colspan="2">Oatmeal, sunflower seeds, flaxseeds and sesame seeds can
      also be added at this time. </td>
  </tr>
</table>
<ul>
  <li>Mix and continue to add flour until moderately stiff dough is formed. Turn
    dough out of bowl and kneed, adding flour as needed, until dough is smooth
    and elastic, BUT NOT DRY. </li>
  <li>Divide into 3 large loaves or 12 small loaves. Place in pans and cover
    with plastic wrap. Let dough rest for 15 minutes. Bake at 375 for approximately
    40 minutes, or until bread sounds hollow when tapped on the bottom. </li>
  <li>The amount of yeast can be reduced to 2 T if you let the bread rise in
    the bowl for an hour before forming the loaves and then let it rise until
    almost double in the pans. </li>
</ul>
<h3><a name="playdough" id="playdough">PLAYDOUGH </a></h3>
<table>
  <tr>
    <td width="100">3 C </td>
    <td>Flour </td>
  </tr>
  <tr>
    <td>1 1/2 C </td>
    <td>Salt </td>
  </tr>
  <tr>
    <td>3 C </td>
    <td>Water </td>
  </tr>
  <tr>
    <td>3 T </td>
    <td>Oil </td>
  </tr>
  <tr>
    <td>2 T </td>
    <td>Cream of Tartar </td>
  </tr>
</table>
<ul>
  <li>Combine and cook to the consistency of wet mashed potatoes. Cool and knead. </li>
  <li>Optional: Kool Aid (Provides nice color and smell), food coloring, spices,
    etc. </li>
</ul>
<h3><a name="slimegoop" id="slimegoop">SLIME GOOP </a></h3>
<table>
  <tr>
    <td colspan="2">Mix Well: </td>
  </tr>
  <tr>
    <td width="100">2 C </td>
    <td>Elmers White Glue </td>
  </tr>
  <tr>
    <td>2 C </td>
    <td>Water </td>
  </tr>
  <tr>
    <td></td>
    <td>Food Coloring (Small Amount) </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">Add a little at a time: </td>
  </tr>
  <tr>
    <td colspan="2">1 Tsp Borax disolved in 1/3 C Hot Water </td>
  </tr>
</table>
<ul>
  <li>Hint: As goop starts to congeal, remove it to a separate container. </li>
</ul>
<h3><a name="monster" id="monster">Monster Cake </a></h3>
<table>
  <tr>
    <td colspan="2">Combine in a 9 X 11 pan: </td>
  </tr>
  <tr>
    <td width="100">3 C </td>
    <td>Flour </td>
  </tr>
  <tr>
    <td>1 C </td>
    <td>White sugar </td>
  </tr>
  <tr>
    <td>1 C </td>
    <td>Brown Sugar </td>
  </tr>
  <tr>
    <td>2 tsp </td>
    <td>Salt </td>
  </tr>
  <tr>
    <td>3 T </td>
    <td>Cocoa </td>
  </tr>
</table>
<ul>
  <li>Mix carefully to make monster dust. Make one large crater in center of
    pan and one small crater on either side. </li>
</ul>
<table>
  <tr>
    <td colspan="2">Put: </td>
  </tr>
  <tr>
    <td width="100">2 tsp </td>
    <td>Baking soda in large crater </td>
  </tr>
  <tr>
    <td>10 T </td>
    <td>oil in one small crater </td>
  </tr>
  <tr>
    <td>2 tsp </td>
    <td>vanilla in other small crater </td>
  </tr>
  <tr>
    <td colspan="2">Pour: </td>
  </tr>
  <tr>
    <td>2 T </td>
    <td>vinegar in large crater and watch it bubble. </td>
  </tr>
  <tr>
    <td>2 C </td>
    <td>water all over dust and mix. </td>
  </tr>
  <tr>
    <td colspan="2">Scatter: </td>
  </tr>
  <tr>
    <td>2 C </td>
    <td>"monster bumps" on top (miniature marshmallows and/or chocolate chips) </td>
  </tr>
</table>
<ul>
  <li>Bake at 350 for 35 minutes Cool and cut into pieces. </li>
</ul>
<h3><a name="gingerbread" id="gingerbread">GINGER BREAD (Courtesy of Kim Powers) </a></h3>
<table>
  <tr>
    <td>6 cups </td>
    <td>flour </td>
  </tr>
  <tr>
    <td>1 tsp </td>
    <td>baking soda </td>
  </tr>
  <tr>
    <td>1/2 tsp </td>
    <td>baking powder </td>
  </tr>
  <tr>
    <td>1/2 lb </td>
    <td>unsalted butter </td>
  </tr>
  <tr>
    <td>1 cup </td>
    <td>dark brown sugar </td>
  </tr>
  <tr>
    <td>4 tsp </td>
    <td>ground ginger </td>
  </tr>
  <tr>
    <td>4 tsp </td>
    <td>cinnamon </td>
  </tr>
  <tr>
    <td>1 1/2 tsp </td>
    <td>cloves </td>
  </tr>
  <tr>
    <td>1 tsp </td>
    <td>pepper </td>
  </tr>
  <tr>
    <td>1 1/2 tsp </td>
    <td>salt </td>
  </tr>
  <tr>
    <td>2 eggs </td>
    <td></td>
  </tr>
  <tr>
    <td>1 1/2 cup </td>
    <td>molasses </td>
  </tr>
</table>
<ul>
  <li>Mix spices in with butter and sugar. Blend well. Add eggs and molasses.
    Finally, add flour, baking soda and baking powder. </li>
  <li>Divide dough into thirds and wrap in plastic. Chill in fridge for one hour. </li>
  <li>Roll out and cut cookies. </li>
  <li>Bake at 350 degrees for 12-15 minutes. </li>
  <li>Dough will keep in fridge for a couple of weeks. </li>
</ul>
<p>&nbsp;</p>

