
<h2>Parent Programs &amp; Seminars</h2>
<p>At Creative Learning Center we are dedicated to excellence in early childhood education and know that parents are an essential part of the equation. Therefore throughout the year we offer programs in the evenings for parents and community members. </p>


<h3>Parent Orientation And Meet the Teacher Evening</h3>
<p>Julie Freedman & Gail Bell of Parenting Power</p>
<p>Developmently Appropriate Preschool Practices - or - What to expect</p>
<p>Free of charge</p>
<p>Sept. 25 7:00-9:00 PM</p>

<h3>Positive Parenting - 6 Week course</h3>
<p>Rick Stratecki</p>
<p>Registration forms will be sent home in September</p>
<p>$86.60/person  $160.50/couple</p>
<p>Not yet available</p>


