
<h2>Parent/Teacher Communication</h2>
<ul>
  <li>Please feel free to request an interview with your child's teachers at any time! </li>
  <li>There will be scheduled interviews in the fall. Information concerning these interviews will be sent home in early November. </li>
  <li>A written report is sent home in the spring and at year-end. </li>
</ul>
<h3>1. Newsletters </h3>
<p>Newsletters are sent home in conjunction with changes in themes. This is approximately every 4 to 5 weeks. </p>
<h3>2. Calendars </h3>
<p>Calendars are sent home with the children every time we change themes. These calendars are an outline of the projects and activities your children will be engaged in during their time at school. </p>
<h3>3. Notes and Parental Communications </h3>
<p>Parents are urged to communicate with the school. Please bring your concerns to our attention immediately. Clarify arrangements. Request any information regarding your child. Bring forward any ideas or suggestions for school improvement. We welcome your input at any time. </p>
<h3>4. Required Records </h3>
<p>Calgary Child and Family Services require that you complete <strong>ALL </strong> sections of the registration forms before your child starts school. If there are any changes during the school year please notify us immediately. </p>
<p>&nbsp; </p>
