
<h2>Discipline Policy </h2>
<p>A central objective at the CLC is to help children become as self-actuating as possible. Our teachers use situations that arise in the classroom to teach problem solving and appropriate behavior. </p>
<p>Children are encouraged to ask for what they need, express their feelings in an appropriate manner and to respect the feelings and needs of others. </p>
<p>Discipline implies punishment – which we don't do – guidance implies that you are going to guide the child toward more acceptable behaviours – which we do. </p>
<p>If a child is having difficulty controlling his/her behavior, he/she may be asked to use a time out chair until he/she is ready to interact cooperatively.</p>
<p> If we identify a pattern of behavior that is of concern, we approach the parents and try to find a mutually acceptable method of addressing the issue. </p>
