
<h2>School Policies </h2>
<p>You can find out about various policies that we have in place at the school.</p>
<p>Each of these policies are in the interest of  your children's safety and
  enjoyment. </p>
<ul>
  <li><a href="/policies/communication">Communication</a></li>
  <li><a href="/policies/discipline">Discipline</a></li>
  <li><a href="/policies/medical">Medical</a></li>
  <li><a href="/policies/safety">Safety</a></li>
  <li><a href="/policies/snack">Snack Policy</a></li>
  <li><a href="/policies/participation">Parent Participation</a></li>
  <li><a href="/policies/withdrawl">Withdrawl</a></li>
</ul>

