
<h2>Medical Policies <img src="/images/layout/medical.jpg" alt="Medical Policies" width="185" height="175" /></h2>
<h3>1. Student illness or injury </h3>
<p>If a student becomes seriously ill or is injured, parents will be contacted. If parent or emergency contact cannot be made the school will take a sick or injured child for medical treatment. We will continue trying to contact the parents. </p>
<p>Should your child need medication at any time during school hours, you must sign a Medical Release and Treatment Form that is available in the office. We <strong><em>CANNOT </em></strong>administer any form of medication without prior written consent. <em>All medication must be kept in the office, never in the classroom. </em></p>
<h3>2. Allergies </h3>
<p>If your child has a known allergy and may require administration of medication we require that you provide us with the procedure you wish followed. We will provide a form for this purpose. <strong>We require that an epi-pen be kept at school if your child is at risk of a severe allergic reaction<em>. </em></strong></p>
<p>All children with allergies will have their picture posted in the classroom with instructions for treatment in the event of a reaction. </p>
<h3>3. Students returning from an illness </h3>
<p>Parents are asked to be certain that students are well before returning them to CLC. Please wait 24 hours after treatment has begun for colds and infections. </p>
<p>Please read <a href="/resources/questions">common questions</a> regarding this subject </p>
<h3>4. Communicable Diseases </h3>
<p>Check with your local clinic for information regarding these diseases and the exclusion period for the various diseases. Upon <strong>registration we require a copy of your child's immunization report. </strong>If your child has not been immunized, we require a written, signed statement for our records. </p>
<h3>5. Medication</h3>
<p>Should your child need medication at any time during school hours, you must sign a Medical and Treatment Form that is available in the office. We <strong>CANNOT </strong>administer any form of medication without prior written consent.<em> All medication must be kept in the office, never in the classroom. </em></p>
<p>&nbsp;</p>
