
<h2>Parent Participation </h2>
<p>We maintain an open door policy with regard to visiting parents. In order to visit your childs class please sign up in the calender kept at the front of each classroom. We limit it to 1 visiting parent per classroom routine. We do not require that the visiting parent helps the staff but regard the visit as an opportunity for the parent to engage in play with their child &amp; his or her friends. </p>
