
<h2>Safety Policy</h2>
<p>Staff members have current Red Cross Certification in Child Care First Aid.</p>
<p>We are required to hold fire drills with the children once a month. We do these in the following manner: </p>
<ol>
  <li>the lights are turned off - this is the signal for the children to freeze and listen for instructions </li>
  <li>the children are told that we are having a pretend emergency. </li>
  <li>they are instructed to come to the door immediately. </li>
  <li>the teachers clear the classroom, taking the children's records with them. </li>
  <li>In the case of a real emergency, the children would be taken to a safe location and parents would be notified. </li>
</ol>
<p>&nbsp;</p>
