
<h2>Snack Policies &amp; Ideas </h2>
<p>We offer a snack time daily for the children. We ask that parents send in a snack for the whole class several times throughout the year. Please sign up on the calendars, posted at the front of each classroom, at least 6 or 7 times throughout the school year. MAKE THE SNACK NUTRITIOUS RATHER THAN SWEET. <em></em>There is a list of suggestions posted below. </p>
<p><em>We have a number of children with food allergies, and therefore require a list of ingredients with home baked goods. <strong>Foods containing peanuts, peanut butter or peanut oil cannot be served at the school because of severe allergic reactions. </strong></em>Please <strong>do not send cupcakes with icing or cakes that require plates and forks </strong>. This is time consuming and very messy. </p>
<h3>Suggestions for snack: </h3>
<ul>
  <li>Fresh fruit/ dried fruit </li>
  <li>Vegetables and dip </li>
  <li>Cheese and crackers </li>
  <li>Teddy grahams/ goldfish crackers </li>
  <li>Small sandwiches </li>
  <li>Oatmeal/ Chocolate chip cookies </li>
  <li>Small pita pockets/ small bagels and cream cheese </li>
  <li>Pretzels </li>
  <li>Seasonal treats (e.g. Christmas cookies, Easter eggs) </li>
  <li>Fruit juices </li>
  <li>Pickles </li>
</ul>
