
<h2>Withdrawl Policy</h2>
<p>One <em>calendar month WRITTEN </em> notice is required if a child is to be withdrawn from the program, or one month's fee in lieu of notice. (Example: If your child's last day is January 31, we require written notice in December prior to January 1.) There will be no refunds for children withdrawing after April 30. </p>
